{% extends "base.html" %}

{% block title %}
    <title> Logout </title>
{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div style='margin-top:30px;'>
            <form method='POST'>{% csrf_token %}
                <p>Are you sure you want to sign out?</p>
                <button type="submit" class="button is-primary">Yes, sign out.</button>
                <button class="button is-primary"><a href="/">No, Go back to Homepage</a></button>
            </form>
        </div>
    {% else %}
        <p>You're not logged in. Would you like to <a href="{% url 'accounts:login' %}">login</a>?</p>
    {% endif %}
{% endblock content %}