{% extends "base.html" %}
{% block title %}
    <title> Logout </title>
{% endblock title %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
<form class="is-centered" method="post">{% csrf_token %}
<p>Do you want to sign out?</p>
<button class="button">Sign out</button>
</form>
</div>
{% else %}
<p>You are not logged in. Would you like to <a href="/accounts/login/">login</a>?</p>
{% endif %}
<!-- {% if not error %}
<p>You're successfully logged out. </p>
<a href="/">Back to Home</a>

{% else %}
<p style="color:red;">{{ error }}</p>
<a href="/">Back to Home</a>
{% endif %} -->
{% endblock content %}