{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    <title> User Profile Change </title>
{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="mt-3">
            <p class="mb-3">USERNAME: {{ request.user.username }}</p>
            <form method='POST'>{% csrf_token %}
                {{ form | crispy }}
                <button type='submit' class="button is-primary mt-3">Update</button>
                <button class="button is-primary mt-3 ml-3"><a href="/">Homepage</a></button>
            </form>
        </div>
    {% else %}

    {% endif %}

{% endblock content %}