{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    <title> Create a Praise </title>
{% endblock title %}

{% block content %}

{% if not created %}
<div class="mt-3">
    <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="button is-primary mt-3">Create</button><br>
        <br />
        <a href="{% url 'praises:list' %}">Back to list</a>
    </form>
</div>

{% else %}
<p>your input is submitted</p>
<p><a href="{% url 'praises:detail' obj.id %}">{{ obj.name }} {{ obj.chord }}</a></p>
{% endif %}

{% endblock content %}
