{% extends "base.html" %}
{% block title %}
    <title> Detail </title>
{% endblock title %}
{% block content %}
    <a class="button is-primary is-rounded"  style=text-align:right; href="{% url 'praises:edit' object.id %}">Edit</a>
    <button class="button is-danger is-rounded js-modal-trigger" data-target="modal-js-example">Delete</button>

    <h1>Praise Detail: {{ object.name }}</h1>
    <p style="font-weight: bolder;">악기구성: {{ object.instruments }}</p>
    <p><b>코드 및 키업:</b> {{ object.chord }} (키업: {{ object.key_up }})</p>
    <p><b>날짜: </b>{{ object.date}} </p>
    <p><b>Note: </b>{{ object.note }}</p>
    <p>악보 다운로드</p>

    <p><a href="{% url 'praises:list' %}"> Back to list </a></p>

    {% include "form-modal.html" %}
{% endblock content %}
