{% extends "base.html" %}
{% block title %}
    <title> Praise </title>
{% endblock title %}

{% block content %}
{#{% if not tag_name %}#}
{#<div>#}
{#    <p style = text-align:right;>#}
{#      <a class="button is-link is-light is-outlined is-rounded"  style=text-align:right; href="{% url 'praises:create' %}">Create</a>#}
{#    </p>#}
{#<table class="table">#}
{#    <thead>#}
{#        <tr>#}
{#            <th>날짜</th>#}
{#            <th>곡명</th>#}
{#            <th>코드</th>#}
{#            <th>태그</th>#}
{#        </tr>#}
{#    </thead>#}
{#    {% for praise in object_list %}#}
{#        <tbody>#}
{#            <th>{{ praise.date }}</th>#}
{#            <th><a href="{% url 'praises:detail' praise.id %}">{{ praise.name }}</a></th>#}
{#            <th>{{ praise.chord }}</th>#}
{#            <th>#}
{#                {% for tag in praise.tags.all %}#}
{#                    <span class="tag {{ tag.get_bulma_color_class }}"><a href="/praise?tag={{ tag.name }}/">{{ tag.name }}</a></span>#}
{#                {% endfor %}#}
{#            </th>#}
{#        </tbody>#}
{#    {% endfor %}#}
{#    </table>#}
{#    <a href="{% url 'praises:list' %}">Back to list</a>#}
{#</div>#}
{#{% else %}#}
{#    <div>#}
{#    <p style = text-align:right;>#}
{#      <a class="button is-link is-light is-outlined is-rounded"  style=text-align:right; href="{% url 'praises:create' %}">Create</a>#}
{#    </p>#}
{#<table class="table">#}
{#    <thead>#}
{#        <tr>#}
{#            <th>날짜</th>#}
{#            <th>곡명</th>#}
{#            <th>코드</th>#}
{#            <th>태그</th>#}
{#        </tr>#}
{#    </thead>#}
{#    {% for praise in object %}#}
{#        <tbody>#}
{#            <th>{{ praise.date }}</th>#}
{#            <th><a href="{% url 'praises:detail' praise.id %}">{{ praise.name }}</a></th>#}
{#            <th>{{ praise.chord }}</th>#}
{#            <th>#}
{#                {% for tag in praise.tags.all %}#}
{#                    <span class="tag {{ tag.get_bulma_color_class }}"><a href="/praise?tag={{ tag.name }}/">{{ tag.name }}</a></span>#}
{#                {% endfor %}#}
{#            </th>#}
{#        </tbody>#}
{#    {% endfor %}#}
{#    </table>#}
{#    <a href="{% url 'praises:list' %}">Back to list</a>#}
{#</div>#}
{#{% endif %}#}

<div class="content">
    <p style = text-align:right;>
        <a class="button is-link is-light is-outlined is-rounded"  style=text-align:right; href="{% url 'praises:create' %}">Create</a>
    </p>
    <h1 style="text-align: center">찬양곡 모음</h1>
        {% for praise_group in praise_groups %}
            <a class="button {% if praise_group.date__month == month %}
            is-link {% endif %} is-primary" href="{% url 'praises:month' praise_group.date__month %}" class="btn btn-success btn-sm">{{ praise_group.date__month }} 월</a>
        {% endfor %}

{#    <div class="dropdown is-hoverable">#}
{#        <div class="dropdown-trigger">#}
{#          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" style="margin-left:650px;">#}
{#            <a><span>2022년 찬양곡 모음{% if praises.exists %}<span style="margin-left: 5px;">({{ praises.count }})</span>{% endif %}</a></span>#}
{#            <span class="icon is-small">#}
{#              <i class="fas fa-angle-down" aria-hidden="true"></i>#}
{#            </span>#}
{#          </button>#}
{#        </div>#}
{#        <div class="dropdown-menu" id="dropdown-menu" role="menu" style="margin-left:650px;">#}
{#          <div class="dropdown-content" style="text-align:center;">#}
{#            {% for praise_group in praises %}#}
{#            <a href="{% url 'praises:month' praise_group.date__month %}" class="btn btn-success btn-sm">{{ praise_group.date__month }} 월</a>#}
{#            {% endfor %}#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
    {% if month or tag_name %}
    <div class="content" style="display: block;">
        <table class="table">
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>곡명</th>
                    <th>코드</th>
                    <th>태그</th>
                </tr>
            </thead>
        {% for praise in praises %}
                <tbody>
                    <th>{{ praise.date }}</th>
                    <th><a href="{{ praise.get_absolute_url }}">{{ praise.name }}</a></th>
{#                    <th><a href="{% url 'praises:detail' praise.id %}">{{ praise.name }}</a></th>#}
                    <th>{{ praise.chord }}</th>
                    <th>
                        {% for tag in praise.tags.all %}
                            <span class="tag {{ tag.get_bulma_color_class }}"><a href="/praise?tag={{ tag.name }}">{{ tag.name }}</a></span>
                        {% endfor %}
                    </th>
                </tbody>
        {% endfor %}
        </table>
        <a href="{% url 'praises:list' %}">Back to list</a>
    </div>
    {% endif %}
    <br />
    <br />
    <br />
    <a class="button is-link is-light is-outlined is-rounded" style="margin-left:45%;" href="/"> Homepage </a>
    <br />
    <br />
    <a class="button is-link is-light is-outlined is-rounded" style="margin-left:45%;" href="{% url 'courses:list' %}"> Courses </a>
    <br />
    <br />
    <a class="button is-link is-light is-outlined is-rounded" style="margin-left:45%;" href="{% url 'experience:list' %}"> Experience </a>
{% endblock %}