{% extends "base.html" %}

{% block title %}
    <title> Homepage </title>
{% endblock title %}
{% block content %}
<div class="content">
<a style = text-align:right;>
    {% if request.user.is_authenticated %}
    <a class="button is-danger is-light is-outlined is-rounded" style="text-align:right; margin-right:10px;" href="{% url 'accounts:logout' %}">Sign out</a>
    <a class="button is-primary is-light is-outlined is-rounded" style="text-align:right; margin-right:10px;" href="{% url 'accounts:profile' %}">Profile Update</a>
    {% else %}
    <a class="button is-link is-light is-outlined is-rounded" style="text-align:right; margin-right:10px;" href="{% url 'accounts:login' %}">Sign in</a>
    {% endif %}

<h1 style="text-align:center;">Junho's First Webpage</h1>

</div>
<br />
<br />
<a class="button is-link is-light is-outlined is-rounded" style="margin-left:45%;" href="{% url 'courses:list' %}">Courses</a>
<br />
<br />
<a class="button is-link is-light is-outlined is-rounded" style="margin-left:45%;" href="{% url 'experience:list' %}">Experiences</a>
<br />
<br />
<a class="button is-link is-light is-outlined is-rounded" style="margin-left:45%;" href="{% url 'praises:list' %}">Praise</a>
{% endblock content %}